{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block body %}

<style>

    #nom_prestation h4{
        text-align: center;
        color: #8c4637;
        font-size: 4em;
    }

    #thumbnail_prestation{
    width: 40%;
    height: auto;
    border-radius: 30px;
    border: 0.5rem solid #623227;
    }

    #contenu_prestation{
        text-align: center;
        color: #8c4637;
        font-size: 1em;
    }

    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

</style>

<div class="container">
    <div id="titre_article">
        <h1>{{ singleService.title }}</h1>
    </div>

    <div id="desc_article">
        <h4>{{ singleService.price }} €</h4>
        <h4>{{ singleService.duration }} minutes</h4>
    </div>

    <div id="desc_article">
        <h4>{{ singleService.description }}</h4>
    </div>


    <img src="{{ asset('uploads/pictures/' ~ singleService.picture)}}" alt="">

    <br>

    <div id="contenu_prestation">
        <p>{{ singleService.content }}</p>
    </div>
</div>




{% endblock %}