{% extends 'base.html.twig' %}

{% block title %}Gestion des prestations{% endblock %}

{% block body %}

<section>
		<h1 class="text-center text-muted">Vos prestations</h1>
        <br>
		<hr>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Titre de l'article</th>
					<th scope="col">Description</th>
					<th scope="col">Contenu</th>
          <th scope="col">Prix</th>
          <th scope="col">Durée</th>
          <th scope="col">Date de publication</th>
				</tr>
			</thead>
			<tbody>
        {% for service in services %}
          <tr>
            <th scope="row">{{ service.id }}</th>
            <td>{{ service.title }}</td>
            <td>{{ service.description }}</td>
            <td>{{ service.content }}</td>
            <td>{{ service.price }} €</td>
            <td>{{ service.duration }} minutes</td>
            <td>{{service.publishedAt | date('d-m-y')}}</td>
            
            <td>
            <a type="button" href="#" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Supprimer
            </a>
            

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Voulez-vous vraiment supprimer cet article ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a type="button" class="btn btn-primary" href="{{path('app_remove_service',{ id: service.id})}}">Supprimer définitivement</a>
                  </div>
                </div>
              </div>
            </div>
             | <a class="btn btn-warning m-2" href="#">Modifier</a></td>
          </tr> 
        {% endfor %}                    
			</tbody>
      
		</table>

</section>

{% endblock %}